name: Docker Build and Push

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy (dev, staging, prod)"
        required: true
        type: choice
        options:
          - dev
          - prod 
     
permissions:
  id-token: write
  contents: read
  security-events: write

env:
  AWS_REGION: "eu-west-2"
  AWS_ACCOUNT_ID: ${{secrets.AWS_ACCOUNT_ID }}
  IMAGE_TAG: ${{ github.sha }} 
  IMAGE_URI: ${{secrets.ECR_EPOSITORY }}
  OIDC_ROLE: ${{secrets.OIDC_ROLE }}
  DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
  DOCKER_TOKEN: ${{secrets.DOCKER_TOKEN}}
  
jobs:
  build-and-scan:
    name: Build and Scan Docker Image
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    timeout-minutes: 20
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS Credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{env.OIDC_ROLE}}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
    
      - name: Login to DHI registry
        run: |
          echo "${{ secrets.DOCKER_TOKEN }}" | docker login dhi.io \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
     
      - name: Run Trivy Vulnerability Scanner (Dockerfile)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "config"
          scan-ref: "backend/Dockerfile"
          exit-code: "1"
          severity: "MEDIUM,HIGH,CRITICAL"
          format: "table"

      - name: Build Docker Image
        run: |
          docker buildx build \
          --platform linux/amd64 \
          --push \
          -t ${{ env.IMAGE_URI }}:${{ env.IMAGE_TAG }} \
          ./backend
       
    #   - name: Run Trivy vulnerability scanner on built image
    #     uses: aquasecurity/trivy-action@0.33.1
    #     with:
    #       scan-type: "image"
    #       input: "/tmp/image.tar"
    #       format: "sarif"
    #       output: "trivy-results.sarif"
    #       severity: "MEDIUM,HIGH,CRITICAL"
    #       exit-code: "1"
    #     env:
    #       TRIVY_PLATFORM: "linux/arm64"

    #   - name: Display Trivy Results in Console
        # uses: aquasecurity/trivy-action@0.33.1
        # with:
        #   scan-type: "image"
        #   input: "/tmp/image.tar"
        #   format: "table"
        #   severity: "MEDIUM,HIGH,CRITICAL"
        #   exit-code: "0"
        # env:
        #   TRIVY_PLATFORM: "linux/arm64"
 

      #   - name: Push Summary
      #     run: |
      #       echo "Docker image pushed successfully!"
      #       echo "Repository: ${{ env.ECR_REPOSITORY }}"
      #       echo "Tag: ${{ needs.build-and-scan.outputs.image-tag }}"
      #       echo "Region: ${{ env.AWS_REGION }}"
      #       echo "Image URI: ${{ needs.build-and-scan.outputs.image-uri }}"s