name: Docker Build and Push

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy (dev, staging, prod)"
        required: true
        type: choice
        options:
          - dev
          - staging
          - prod
      account_number:
        description: "AWS Account Number"
        required: true
      aws_region:
        description: "AWS Region"
        required: true
        default: "eu-west-2"

permissions:
  id-token: write
  contents: read
  security-events: write

env:
  AWS_REGION: "eu-west-2"
  AWS_ACCOUNT_ID: ${{secrets.AWS_ACCOUNT_ID }}
  IMAGE_TAG: ${{ github.sha }} 
  IMAGE_URI: ${{secrets.ECR_EPOSITORY }}
  OIDC_ROLE: ${{secrets.OIDC_ROLE }}
  
jobs:
  build-and-scan:
    name: Build and Scan Docker Image
    runs-on: ubuntu-latest
    environment: dev
    timeout-minutes: 20
    outputs:
      image-uri: ${{ steps.image-uri.outputs.uri }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS Credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{env.OIDC_ROLE}}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
     
    #   - name: Run Trivy Vulnerability Scanner (Dockerfile)
    #     uses: aquasecurity/trivy-action@0.33.1
    #     with:
    #       scan-type: "config"
    #       scan-ref: "english-dictionary/Dockerfile" - Location of dockerfile
    #       exit-code: "1"
    #       severity: "MEDIUM,HIGH,CRITICAL"
    #       format: "table"

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          platforms: linux/arm64
          push: false
          tags: ${{env.IMAGE_TAG}}
          no-cache: true

      - name: Push Docker Image
        run: |
          docker push ${{env.IMAGE_URI}}:${{env.IMAGE_TAG}}
 
    #   - name: Run Trivy vulnerability scanner on built image
    #     uses: aquasecurity/trivy-action@0.33.1
    #     with:
    #       scan-type: "image"
    #       input: "/tmp/image.tar"
    #       format: "sarif"
    #       output: "trivy-results.sarif"
    #       severity: "MEDIUM,HIGH,CRITICAL"
    #       exit-code: "1"
    #     env:
    #       TRIVY_PLATFORM: "linux/arm64"

    #   - name: Display Trivy Results in Console
        # uses: aquasecurity/trivy-action@0.33.1
        # with:
        #   scan-type: "image"
        #   input: "/tmp/image.tar"
        #   format: "table"
        #   severity: "MEDIUM,HIGH,CRITICAL"
        #   exit-code: "0"
        # env:
        #   TRIVY_PLATFORM: "linux/arm64"

    #   - name: Set Image URI
    #     id: image-uri
    #     run: |
    #       IMAGE_URI="${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}"
    # docker push 548470137685.dkr.ecr.eu-west-2.amazonaws.com/jummahcast:latest
    #       echo "uri=${IMAGE_URI}" >> $GITHUB_OUTPUT
    #       echo "Docker image built successfully!"
    #       echo "Repository: ${{ env.ECR_REPOSITORY }}"
    #       echo "Tag: ${{ env.IMAGE_TAG }}"
    #       echo "Region: ${{ env.AWS_REGION }}"
    #       echo "Full Image URI: ${IMAGE_URI}"

 
#   push-to-ecr:
#     name: Push to ECR
#     runs-on: ubuntu-latest
#     needs: [build-and-scan]
    
#     steps:
#       - name: Configure AWS Credentials via OIDC
#         uses: aws-actions/configure-aws-credentials@v5
#         with:
#           role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-oidc-role
#           aws-region: ${{ env.AWS_REGION }}

#       - name: Login to Amazon ECR
#         uses: aws-actions/amazon-ecr-login@v2

#     #   - name: Download Docker Image
#     #     uses: actions/download-artifact@v4
#     #     with:
#     #       name: docker-image
#     #       path: /tmp    #   # Load the image and capture the loaded image name
#         #   LOADED_IMAGE=$(docker load -i /tmp/image.tar | grep "Loaded image:" | cut -d' ' -f3)
#         #   echo "Loaded image: $LOADED_IMAGE"

#       - name: Push Docker Image
#         run: |
#           docker push ${{env.IMAGE_URI}}:${{env.IMAGE_TAG}}

#     #   - name: Push Summary
#     #     run: |
#     #       echo "Docker image pushed successfully!"
#     #       echo "Repository: ${{ env.ECR_REPOSITORY }}"
#     #       echo "Tag: ${{ needs.build-and-scan.outputs.image-tag }}"
#     #       echo "Region: ${{ env.AWS_REGION }}"
#     #       echo "Image URI: ${{ needs.build-and-scan.outputs.image-uri }}"s